.container {
  display        : flex;
  flex-direction : column;
  flex           : 1;
  justify-content: center;
  align-items    : center;
}

.title {
  font-weight: bold;
  font-size  : 2em;
  color      : #565662;
  text-align : center;
}

.description {
  color: #9698a7;
}

.form {
  width          : 100%;
  display        : flex;
  justify-content: center;
}

.input {
  border-radius: 10px;
  padding      : 6px 20px;
  margin       : 2em 0px;
  border       : 2px solid #9698a7;
  box-shadow   : none;
}

.input:last-child {
  margin-left: 20px;
}

.input::placeholder {
  color: #c7c7c7;
}

.input:focus {
  box-shadow: 0;
  outline   : 0;
}

.button {
  background-color: #ff001e;
  border          : none;
  border-radius   : 10px;
  color           : #fff;
  padding         : 1.25rem 8rem;
}
