.container {
  display       : flex;
  flex-direction: column;
  align-items   : center;
}

.title {
  font-weight: bold;
  font-size  : 2em;
  color      : #565662;
  text-align : center;
}

.description {
  color: #9698a7;
}

.form {
  width          : 100%;
  display        : flex;
  justify-content: space-around;
}

.input {
  border-radius: 8px;
  padding      : 6px 20px;
  margin       : 2em 0px;
  border-color : #efefef;
}

.input::placeholder {
  color: #c7c7c7;
}

.button {
  background-color: #ff001e;
  border          : none;
  border-radius   : 10px;
  color           : #fff;
  padding         : 1.25em 8em;
}
