.avatar {
  margin-bottom: 15px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 35px;
}

.menu {
  background-color: #f9fafc;
  padding: 10px 20px;
  border-radius: 50px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.icon {
  border: #e7e7e7 1px solid;
  border-radius: 50px;
  padding: 9px;
}

.button {
  margin: 0.5rem 0;
}
